lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# Ignore uploaded files.
public/uploads/*.png
public/uploads/*.jpeg
public/uploads/*.jpg
public/uploads/*.gif

# Ignore uploaded files.
public/uploads/gifs/*.gif

.DS_Store
