lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# Ignore uploaded files.
public/uploads/*

# Ignore development configs
config/*.development.json

# Ignore uploaded files.
public/gifs/*.gif

# Ignore uploaded files.
public/qrs/*.png

# Ignore development config files.
config/*.development.json

# Ignore aws config file.
config/aws_config.json

.DS_Store
