.row.row-offcanvas.row-offcanvas-right
      #sidebar.col-xs-12(role='navigation' style="margin-top:30px;")
        button.btn.btn-default(onclick="selectAll()") Select all
        button.btn.btn-default(onclick="selectNone()") Select none
        #gallery-container.well.sidebar-nav
          #gallery(style="text-align: center;")
        button.btn.btn-default(onclick="generate()" style="width: 100%;") Generate