extends layout

block content
  .container#main
    .row.row-offcanvas.row-offcanvas-right
      .col-xs-12
        p(id="errorMessage")
          | Click to begin
        .jumbotron(style="text-align: center;")
          video(id="monitor" autoplay="true")
          canvas(id="photo" width="640" height="480px" style="display:none;")
        button.btn.btn-default(onclick="init(this)" style="width: 100%;") Capture
      #sidebar.col-xs-12(role='navigation' style="margin-top:30px;")
        .well.sidebar-nav
          #gallery(style="text-align: center;")
        button.btn.btn-default(onclick="generate(this)" style="width: 100%;") Generate
    include footer
    script(type='text/javascript', src='javascripts/imagecapture.js')