extends layout

block content
  .container#main
    .row.row-offcanvas.row-offcanvas-right
      .col-xs-12.col-sm-9
        .jumbotron
          //h1 Picture area
          video(id="monitor" autoplay="true")
          canvas(id="photo" width="640" height="480px" style="display:none;")
          button(onclick="init(this)") Capture
          p(id="errorMessage")
            | Click to begin
      // /span
      #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
        .well.sidebar-nav
          #gallery
        // /.well
      // /span
    // /row
    include footer
    script(type='text/javascript', src='javascripts/imagecapture.js')
  // /.container
  //