div#stageModal.modal(tabindex="-1", role="dialog", aria-labelledby="cameraModalLabel", aria-hidden="true")
  div.modal-dialog
    div.modal-content
      button#stageClose.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
      div#stageArea.modal-body

