body {
    overflow-y: hidden;
}

footer {
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #eeeeee;
    padding-top: 15px;
    width: 100%;
}

#main {
    margin-top: 30px !important;
}

a {
  color: #00B7FF;
}

.jumbotron {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    line-height: 1 !important;
}

#gallery img {
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#gallery img:hover {
    cursor: pointer;
    opacity: 1;
}

#gallery img.selected {
    opacity: 1;
}

.modal {
    overflow-y: hidden !important;
}

.modal-dialog {
    width: 700px !important;
}

.modal-content {
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
}

#stageModal .modal-dialog {
    text-align: center;
}

#stageModal .modal-content {
    background-color: #d6e6f6;
}

#stageArea {
    padding: 100px;
}

#stageClose {
    position: absolute;
    right: 10px;
    top: 5px;
}